

@media screen and (min-width:768px){
  .ls,.rs{
    height:100vh;
  }

}
@media screen and (max-width:768px){
  img{
    display: none;
  }
}
body{
  background-color: black;
}

p{
  color:black;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: center;
}
.firstbox{
  background-color: black;
  color:white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding:10px;
}
.secondbox{
  background-color: white;
  color:black;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding:10px;
}


.ls,.rs {
  height: 50vh;
  width:100%;
}
.ls{
  color:white;
  text-align: center;
  background-color: black;
  font-family: 'Dancing Script', cursive;
  padding:10px;
  /* font-family: 'Satisfy', cursive;
  font-family: 'Niconne', cursive;
  font-family: 'Yesteryear', cursive; */
}
h3{
  text-align:center;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  position: relative;
  top:50%;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.navbar-brand{
  font-family: 'Playfair Display', serif;
  color:#FFFFFF;

}

.my-nav{
  background-color: black;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  font-family: 'Dancing Script', cursive;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: hotpink;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}
